body {
    background-color: #13151C;
    font-family: sans-serif;
}

#main-container {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0, -54%);
}

#logo {
    display: block;
    margin: 28px auto;
    max-width: 80%;
    text-align: center;
    color: white;
    font-size: 28px;
}

#my-canvas {
    display: block;
    margin: 0 auto;
    border: 12px solid #E5E7FF;
    width: 63%;
    max-width: 1280px;
    max-height: 720px;
}

@media only screen and (max-width: 999px) {
    #logo {
        font-size: 22px;
        margin: 22px auto;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        font-size: 16px;
        margin: 18px auto;
    }
}

#game-stats {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

#fps {
    margin-right: 20px;
}

#score {
    margin-left: 20px;
}